ui/__pycache__
core/src/__pycache__
core/__pycache__
notohiis/.venv
core/core_plugin/__pycache__
tui/__pycache__
plugins/__pycache__
Novo Arquivo
.session_config
core/src/__pycache__
core/core_plugin/__pycache__
core/cacheuser/tags.json
__pycache__